<div li-block="Availability" {{ block.shopify_attributes }}>
                    
                  
                    <div class="product-header_shipping-wrapper"></div>
                    
                
                </div> {% schema %} {
    "name": "Availability",
    "settings": [],
    "presets": [
        {
            "name": "Availability",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}