<div li-block="Description Desktop" class="overflow-hidden is-end hide-mobile-landscape" {{ block.shopify_attributes }}>
                    <div class="product-header_description"><div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div><div class="product-header_links-layout"><a module-link="product-details" href="#" class="product-header_link">Product Details</a><a module-link="size-guide" href="#" class="product-header_link">Size & Fit Guide</a><a module-link="shipping" href="#" class="product-header_link">Shipping and Returns</a></div></div>
                </div> {% schema %} {
    "name": "Description Desktop",
    "settings": [],
    "presets": [
        {
            "name": "Description Desktop",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}