<div data-cart-animation="reveal-on-scroll" li-block="Description Mobile" class="overflow-hidden is-end show-mobile-landscape" {{ block.shopify_attributes }}>
                    <div class="product-header_description"><div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div><div class="product-header_links-layout"><a module-link="product-details" href="#" class="product-header_link cta-text">Product Details</a><a module-link="size-guide" href="#" class="product-header_link cta-text">Size & Fit Guide</a><a module-link="shipping" href="#" class="product-header_link cta-text">Shipping and Returns</a></div></div>
                </div> {% schema %} {
    "name": "Description Mobile",
    "settings": [],
    "presets": [
        {
            "name": "Description Mobile",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}