<div data-cart-animation="reveal-on-scroll" li-block="Product Name" class="overflow-hidden is-end" {{ block.shopify_attributes }}>
                    <h1 li-object:text="product.title" class="product-title">
{{ product.title }}
</h1>
                    <div class="w-form"><form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" data-wf-page-id="68e64cde361aeb3efeb34c98" data-wf-element-id="30ab3a5f-8e55-c157-9c6e-1aa9c86d3324">{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list hide-mobile-landscape">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div x-bind:class="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? 'is-colour-swatch' : ''" li-element="product-options-loop" class="product-header_option" data-ProductVariantsLoop="true"><div li-element="product-options-name" x-text="option">Variant</div><div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label x-bind:style="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? {'--swatch': variantName} : {}" li-element="product-option-loop" class="product-header_radio w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'"><span x-bind:style="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? 'position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)' : ''" li-element="product-option-name" class="text-size-regular text-weight-light w-form-label" for="radio-6" x-text="variantName" :for="variantName">XS</span></label></template></div></div></template>    </div>
{% endif %}</form><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div>
                </div> {% schema %} {
    "name": "Product Name",
    "settings": [],
    "presets": [
        {
            "name": "Product Name",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}