<div data-cart-animation="reveal-on-scroll" li-block="Product Name" class="overflow-hidden is-end" {{ block.shopify_attributes }}>
                    <h1 li-object:text="product.title" class="product-title">
{{ product.title }}
</h1>
                    <div class="w-embed"><div>
  Set White
</div></div>
                </div> {% schema %} {
    "name": "Product Name",
    "settings": [],
    "presets": [
        {
            "name": "Product Name",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}