<div data-cart-animation="reveal-on-scroll" li-block="Product Name" class="overflow-hidden is-end" {{ block.shopify_attributes }}>
                    <h1 li-object:text="product.title" class="product-title">
{{ product.title }}
</h1>
                    <a x-on:click="document.querySelector('input[name=\'Colour\'][value=\'White\']')?.click()" href="#" class="w-button">Set White</a>
                </div> {% schema %} {
    "name": "Product Name",
    "settings": [],
    "presets": [
        {
            "name": "Product Name",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}