<div class="page-background" style="background-color: {{ product.metafields.custom.colour }}"></div> {% schema %} {
    "tag": "section",
    "name": "Background",
    "class": "section_page-background_wrapper",
    "presets": [
        {
            "name": "Background",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}