<div class="w-embed w-script">
          <script>
  document.querySelector('.nav_component').classList.add('scrolling');
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Black Logo",
    "presets": [
        {
            "name": "Black Logo",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}