<div class="collection-page_custom-padding-2">
          <div>
            {% paginate collection.products by 50 %}
    <div li-paginate:by="50" li-paginate="collection.products" class="filter_layout" by="50">
              <div fs-list-instance="1" id="w-node-_114fb0ba-0892-dc1f-8816-8687f640db58-87467f30" class="filter_feed">
                <div class="padding-global">
                  <div class="container-large">
                    <div class="filter_product-list-wrapper w-dyn-list">
                      <div role="list" class="filter_product-list w-dyn-items">
                        {% for product in collection.products limit: section.settings.products_to_show offset: section.settings.products_offset %}    <div li-for="product in collection.products limit: section.settings.products_to_show offset: section.settings.products_offset" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                          
                            {% render 'product_item', colour_value: colour_value, product: product, variant: variant %}
                            
                        
                        </div>
{% endfor %}
                      </div>
                      {% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    
                        <div class="heading-style-h6">
{{ section.settings.text_empty_collection_heading }}
</div>
                        <div class="spacer-xxsmall"></div>
                        <div>
{{ section.settings.text_empty_collection_subheading }}
</div>
                          </div>
{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>{% endpaginate %}
          </div>
        </div>
        
        
        <div class="hide w-embed">{% if section.settings.offset_first_products %}
          <style>
    @media (min-width: 992px) {
      #shopify-section-{{ section.id }} .filter_product-list::before {
        content: '';
        grid-column: span 2;
      }
    }
  </style>
          {% endif %}
        </div> {% schema %} {
    "tag": "section",
    "name": "Collection Alt Produ",
    "class": "section_filter",
    "settings": [
        {
            "id": "text_empty_collection_heading",
            "type": "text",
            "label": "Empty Collection Heading",
            "default": "No results found."
        },
        {
            "id": "text_empty_collection_subheading",
            "type": "text",
            "label": "Empty Collection Subheading",
            "default": "There are no results with this criteria. Try changing your search."
        },
        {
            "type": "header",
            "content": "Product Controls"
        },
        {
            "id": "offset_first_products",
            "type": "checkbox",
            "label": "Offset first two products",
            "default": false
        },
        {
            "id": "products_to_show",
            "type": "number",
            "label": "Products to show",
            "default": 12
        },
        {
            "id": "products_offset",
            "type": "number",
            "label": "Start from product",
            "default": 0
        },
        {
            "type": "header",
            "content": "Product Number"
        }
    ],
    "presets": [
        {
            "name": "Collection Alt Produ",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "collection"
        ]
    }
} {% endschema %}