<div class="padding-global">
          <div class="container-large">
            <div class="product_component">
              <div class="featured-products-component_layout">
                <div id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a95a-87467f30" class="product_heading-wrapper">
                  <div class="product_heading is-grid">
                    <h2 id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a95c-87467f30" class="product-section_heading is-large">
{{ section.settings.text_heading }}
</h2>
                  </div>
                  <a li-object:href="section.settings.collection_collection.url" href="{{ section.settings.collection_collection.url }}" class="product_heading-link w-inline-block"></a>
                </div>
                <div id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a961-87467f30" class="slider-mobile-wrapper">
                  <div id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a962-87467f30" class="display-contents-desktop w-dyn-list">
                    <div role="list" class="featured-products_layout w-dyn-items">
                      <div role="listitem" class="featured-products_item w-dyn-item">
                        {% render 'product_item', colour_value: colour_value, product: product, variant: variant %}
                      </div>
                    </div>
                    <div class="hide w-dyn-empty">
                      <div>No items found.</div>
                    </div>
                  </div>
                </div>
                <div id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a969-87467f30" class="featured-products_collection-link-wrapper is-first">
                  <div li-object="collection.metafields.custom.featured_product.title" li-cloak="hide">{{ collection.metafields.custom.featured_product.value.title }}</div>
                  {% render 'product_item', product: product %}
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Collection Alt Hero",
    "class": "section_product remove-top-padding",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Shoes"
        },
        {
            "id": "image_link_image",
            "type": "image_picker",
            "label": "Link Image"
        }
    ],
    "presets": [
        {
            "name": "Collection Alt Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}