<div class="padding-global">
          <div class="container-large">
            <div class="featured-looks_wrapper">
              <div class="featured-look_item"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" li-object="article.metafields.custom.outfit_3_image | image_url: width: 2000 | placeholder: 'detailed-apparel-1'" alt="" class="featured-look_image">
                <div li-object:text="article.metafields.custom.outfit_3_text" class="outfit-1_rich-text no-trim featured-look_text w-richtext">
{{ article.metafields.custom.outfit_3_text }}
</div>
              </div>
              <div class="featured-look_item"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" li-object="article.metafields.custom.outfit_4_image | image_url: width: 2000 | placeholder: 'detailed-apparel-1'" alt="" class="featured-look_image">
                <div li-object:text="article.metafields.custom.outfit_4_text" class="outfit-1_rich-text no-trim featured-look_text w-richtext">
{{ article.metafields.custom.outfit_4_text }}
</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Featured Looks",
    "class": "section_featured-looks",
    "presets": [
        {
            "name": "Featured Looks",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}