<div class="padding-global padding-section-medium remove-mobile">
          <div class="container-large">
            <div class="product_component">
              <div class="featured-products-component_layout">
                <a id="w-node-_5751e9a0-9e84-68b1-9599-d2caabd01a2a-feb34c80" href="{{ section.settings.url_button_link }}" class="featured-products_collection-link-wrapper is-left w-inline-block"> {{ section.settings.text_button_text }} </a>
                <div id="w-node-c4a1d7d0-419d-da3a-cc7f-a34717f9655f-feb34c80" class="featured-products_side-layout">
                  <div id="w-node-_5751e9a0-9e84-68b1-9599-d2caabd01a1f-feb34c80" class="product_heading">
                    <h2 id="w-node-_5751e9a0-9e84-68b1-9599-d2caabd01a20-feb34c80" class="product-section_heading">
{{ section.settings.text_heading }}
</h2>
                    <p class="product-section_subheading">Subheading Copy</p>
                  </div>
                  <div class="featured-products_items-layout">
                    {% render 'product_item', product: product %}
                    {% render 'product_item', product: product %}
                  </div>
                  <a id="w-node-_6559c0f8-0042-93b2-42b4-a73b849e71eb-feb34c80" href="#" class="cta-text text-align-center">View More</a>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Featured 3",
    "class": "section_product",
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button-Text",
            "default": "<img loading=\"lazy\" src=\"https:\/\/d3e54v103j8qbb.cloudfront.net\/plugins\/Basic\/assets\/placeholder.60f9b1840c.svg\" alt=\"\" class=\"featured-products_collection-image\"\/>"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Handbags Headline"
        }
    ],
    "presets": [
        {
            "name": "Featured 3",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}