<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="product_component">
              <div class="featured-products_layout">
                <div id="w-node-_6327b60e-44ca-c0c8-eaac-83b50b20f8e5-feb34c80" class="product_heading is-grid">
                  <h2 id="w-node-_6327b60e-44ca-c0c8-eaac-83b50b20f8e6-feb34c80" class="product-section_heading is-large">
{{ section.settings.text_heading }}
</h2>
                  <p id="w-node-_6327b60e-44ca-c0c8-eaac-83b50b20f8e8-feb34c80" class="product-section_subheading is-small">Lorem ipsum dolor sit amet consecteturadipiscing elit Vestibulumelementum elit sit amet dictum tempus</p>
                  <div id="w-node-_6327b60e-44ca-c0c8-eaac-83b50b20f8ea-feb34c80" class="cta-text">View More</div>
                </div>
                <div id="w-node-_12ade119-ddf2-a571-f17d-2b2413af1788-feb34c80" class="slider-mobile-wrapper">
                  <div class="display-contents-desktop">
                    {% render 'product_item', product: product %}
                  </div>
                  <div id="w-node-e20e7507-f5d4-9abc-9b35-f7de405de8ce-feb34c80" class="display-contents-desktop">
                    {% render 'product_item', product: product %}
                  </div>
                </div>
                <a id="w-node-a96a619b-ba2d-8598-5535-0e3f407f9f82-feb34c80" href="{{ section.settings.url_button_link }}" class="featured-products_collection-link w-inline-block"> {{ section.settings.text_button_text }} </a>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Featured 2",
    "class": "section_product",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Shoes"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button-Text",
            "default": "<img loading=\"lazy\" src=\"https:\/\/d3e54v103j8qbb.cloudfront.net\/plugins\/Basic\/assets\/placeholder.60f9b1840c.svg\" alt=\"\" class=\"featured-products_collection-image\"\/>\n                  <div class=\"featured-products_collection-link-text\">Shop the collection<\/div>\n                "
        }
    ],
    "presets": [
        {
            "name": "Featured 2",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}