<div class="padding-global">
          <div class="container-large">
            <div class="full-collection_layout">
              <h2 class="shop-the-look_heading">The entire Collection</h2>
              {{ article.metafields.custom.products_collection.value.products }}
              <div li-for:inside="product in article.metafields.custom.products_collection.value" class="shop-the-look_list">
        {% for product in article.metafields.custom.products_collection.value %}                            
                
                            {% render 'product_item', colour_value: colour_value, product: product, variant: variant %}
                            
              
                    {% endfor %}    </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Full Collection",
    "class": "section_full-collection",
    "presets": [
        {
            "name": "Full Collection",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}