<div class="padding-global">
            <div class="container-large">
              <div id="ParallelProgram" class="info-column_layout w-node-_88be1cea-e708-a69a-700e-aeb3541ff5a7-f55cc2be">
                <h2 class="hero_heading-2">
{{ section.settings.text_heading }}
</h2>
                <div class="info-paragraph_layout">
                  <div>
{{ section.settings.text_paragraph }}
</div>
                  <a href="{{ section.settings.url_button_link }}" class="button-2 w-button"> {{ section.settings.text_button_text }} </a>
                </div>
              </div>
            </div>
          </div>
          <div class="spacer-large show-mobile-landscaoe"></div> {% schema %} {
    "tag": "section",
    "name": "info-column-3",
    "class": "section_info-column padding-vertical padding-small",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "The Parallel Program"
        },
        {
            "id": "text_paragraph",
            "type": "text",
            "label": "Paragraph",
            "default": "Parallel Coffee Company's barista training not only equips individuals with the skills needed to brew excellent coffee but also instills a passion for the craft.<br\/><br\/>Danny, one of Parallel Coffees founders, has years of experience as a speciality coffee trainer, and regularly competes in national barista competitions. We always aim to share the best information possible based on our passion for excellent coffee.<br\/><br\/>This service is provided free of charge with all wholesale coffee orders."
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Shop Coffee"
        }
    ],
    "presets": [
        {
            "name": "info-column-3",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}