<div class="padding-global">
          <div class="container-large">
            <div class="lookbook-intro_layout">
              <p li-object:text="article.metafields.custom.introduction" class="lookbook-intro_paragraph">
{{ article.metafields.custom.introduction }}
</p>
              <div class="spacer-medium"></div>
              <div class="more_component">
                <div class="more_list-wrapper w-dyn-list">
                  <div role="list" class="more_list is-lookbook w-dyn-items">
                    {% for image in article.metafields.custom.images_row.value %} 
                    <div role="listitem" class="more_item w-dyn-item">
                         <div li-for="image in article.metafields.custom.images_row.value" class="more_image-wrapper">
                                    <img alt="" loading="lazy" li-object:src="image | image_url: width: 2000 | placeholder: 'detailed-apparel-1'" src="{{ image | image_url: width: 2000 | placeholder: 'detailed-apparel-1' }}" class="more_image">
                        </div>

                    </div>
                    {% endfor %}
                  </div>
                  <div class="hide w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Intro",
    "class": "section_lookbook-intro",
    "presets": [
        {
            "name": "Intro",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}