<iframe src="https://cdn.prod.website-files.com/68e64cde361aeb3efeb34ca9/696a286a779fb033c5998b30_VW_TRADE%20LOOKBOOK_PROTECTED.pdf#toolbar=0&navpanes=0" class="pdf-embed">
          <h1 class="hide">
{{ section.settings.text_heading }}
</h1>
        </iframe> {% schema %} {
    "tag": "section",
    "name": "Look Book",
    "class": "look-book_section",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Heading"
        }
    ],
    "presets": [
        {
            "name": "Look Book",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}