<div class="w-embed w-script">
          <script>
  document.querySelector('.nav_component').classList.add('{{ section.settings.nav_logo_color }}-logo');
  {% if section.settings.nav_scroll_animation %}
  gsap.registerPlugin(ScrollTrigger);
  ScrollTrigger.create({
    start: "top -5%",
    onEnter: () => document.querySelector(".section_navbar").classList.add("scrolling"),
    onLeaveBack: () => document.querySelector(".section_navbar").classList.remove("scrolling"),
  });
  {% endif %}
</script>
        </div> {% schema %} {
    "tag": "div",
    "name": "Nav Settings",
    "settings": [
        {
            "type": "header",
            "content": "Nav Colour"
        },
        {
            "type": "header",
            "content": "Nav Colour"
        },
        {
            "type": "select",
            "id": "nav_logo_color",
            "label": "Nav logo colour",
            "options": [
                {
                    "value": "white",
                    "label": "White"
                },
                {
                    "value": "black",
                    "label": "Black"
                }
            ],
            "default": "black"
        },
        {
            "type": "checkbox",
            "id": "nav_scroll_animation",
            "label": "Enable scroll animation",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "Nav Settings",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}