<div class="padding-global">
          <div class="container-large">
            <div class="outfit-1_layout is-flipped"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" id="w-node-_9ca671cd-8c21-3810-f127-1b8674e738c6-97548eeb" li-object="article.metafields.custom.outfit_2_image | image_url: width: 2000 | placeholder: 'detailed-apparel-1'" alt="" class="outfit-1_image">
              <div class="outfit-1_text-layout">
                <div class="outfit-1_heading-layout">
                  <h2 li-object:text="article.metafields.custom.season.value" class="outfit-1_heading">
{{ article.metafields.custom.season.value }}
</h2>
                  <p li-object:text="article.metafields.custom.season_detail_text" class="outfit-1_subheading">
{{ article.metafields.custom.season_detail_text }}
</p>
                </div>
                <div li-object:text="article.metafields.custom.outfit_2_text" class="outfit-1_rich-text no-trim w-richtext">
{{ article.metafields.custom.outfit_2_text }}
</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Outfit 2",
    "class": "section_outfit-1",
    "presets": [
        {
            "name": "Outfit 2",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}