<div class="padding-global">
          <div class="container-large">
            <div class="outfit-1_layout"><img src="{{ article.metafields.custom.outfit_1_image | image_url: width: 2000 | placeholder: 'detailed-apparel-1' }}" loading="lazy" id="w-node-_318eb7f1-173b-1b5c-a409-caaed5b853ee-97548eeb" li-object:src="article.metafields.custom.outfit_1_image | image_url: width: 2000 | placeholder: 'detailed-apparel-1'" alt="" class="outfit-1_image">
              <div li-object="article.metafields.custom.outfit_1_text" id="w-node-_1ddcdaf0-e063-8d31-d26d-b49be62ae4fa-97548eeb" class="outfit-1_rich-text no-trim w-richtext">{{ article.metafields.custom.outfit_1_text }}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Outfit 1",
    "class": "section_outfit-1",
    "presets": [
        {
            "name": "Outfit 1",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}