<div class="padding-global">
          <div class="container-large">
            <div class="shop-the-look_wrapper">
              <h2 class="shop-the-look_heading">SHOP THE LOOK</h2>
              {% for product in article.metafields.custom.look_products.value %}    <div li-for="product in article.metafields.custom.look_products.value" class="shop-the-look_list">
                                    
                
                            {% render 'product_item', colour_value: colour_value, product: product, variant: variant %}
                            
              
                        </div>
{% endfor %}
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Shop the Look",
    "class": "section_shop-the-look",
    "presets": [
        {
            "name": "Shop the Look",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}