<div class="slide-out_wrapper">
          <div class="slide-out_layout">
            <div li-content-for-blocks="" id="w-node-ad0ba730-ff0e-ab22-2791-cab0b0fa1ab8-7db6215a">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}
{% endcase %}
{% endfor %}

    </div>
          </div>
          <a href="#" class="slide-out_close-button w-inline-block">
            <div>Close</div>
          </a>
        </div>
        <div class="module_background-blur"></div>
        <div class="hide">
{{ section.settings.text_module }}
</div> {% schema %} {
    "tag": "div",
    "name": "Slide Out Module",
    "class": "module_slide-out",
    "blocks": [
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "text_module",
            "type": "text",
            "label": "module",
            "default": "Lorem Ipsum"
        }
    ],
    "presets": [
        {
            "name": "Slide Out Module",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}