<div>
            <div class="container-large">
              <div id="w-node-_643c1c3b-3ef7-3715-3315-5eddd1d8dca4-f55cc2be" class="image-text_block">
                <img li-object:src="section.settings.image | image_url: width: 2000" li-object:alt="section.settings.image.alt" alt="{{ section.settings.image.alt }}" src="{{ section.settings.image | image_url: width: 2000 }}" loading="lazy" class="cover-image">
              </div>
            </div>
          </div> {% schema %} {
    "tag": "section",
    "name": "wide-image-3",
    "class": "section_wide-image",
    "settings": [
        {
            "type": "header",
            "content": "image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "wide-image-3",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}